:root {
  --bg-color: rgb(255, 255, 255);
  --body-padding: 0;
  --border-color: rgb(240, 240, 240);
  --font-family: system-ui, sans-serif;
  --font-size-primary: 13px;
  --font-size-secondary: 13px;
  --group-label-weight: 600;
  --label-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  color-scheme: light dark;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: var(--font-family);
  font-size: var(--font-size-primary);
  margin: 0;
  padding: var(--body-padding);
  user-select: none;
}
body.browserAction {
  min-width: 400px;
}
body.browser-ios.browserAction {
  min-width: 0;
}
.firefoxSizer {
  display: none;
}
body.browser-firefox.browserAction {
  max-width: 400px;
  min-width: auto;

  .firefoxSizer {
    display: inline-block;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
body.browser-mac.browserAction {
  min-width: 340px;
}

body.desktop .mobile,
body.mobile .desktop,
body:not(.debug) .debug,
body:not(.debugging) .debugging,
body:not(.displayingGridAsList) .displayingGridAsList,
body:not(.fullSizeTheaterMode) .fullSizeTheaterMode,
body:not(.hiddenChannels) #hiddenChannelsDetails,
body:not(.hidingHiddenVideos) .hidingHiddenVideos,
body:not(.hidingWatched) .hidingWatched,
body:not(.ios) .toggle,
body:not(.jpegSnapshot) .jpegSnapshot,
body:not(.snapshot) .snapshot,
body:not(.tidyingGuideSidebar) .tidyingGuideSidebar {
  display: none;
}

/* Separate controls from their label by default */
label {
  align-items: center;
  color: var(--text-color-primary);
  cursor: pointer;
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

p {
  color: var(--text-color-secondary);
  font-size: var(--font-size-secondary);
  margin-bottom: 0;
  margin-right: 40px;
  padding-bottom: 4px;
}

input[type=checkbox],
select {
  cursor: pointer;
}

input[type=checkbox] {
  flex-shrink: 0;
}

section {
  border-top: 1px solid var(--border-color);
}
section.group:first-of-type,
section.group > section:first-of-type {
  border-top: none;
}

/* Option group */
section.group > label {
  font-weight: var(--group-label-weight);
  padding: 10px 12px;
}
section.labelled {
  position: relative;
}
section.labelled > .stickySentinel.top {
  height: 1px;
  pointer-events: none;
  position: absolute;
  top: 0;
}
section.labelled > .stickySentinel.bottom {
  height: 0;
  pointer-events: none;
}
/* Sticky label */
body:is(.firefox, .chrome, .edge) {
  /* Contain sticy label shadow at bottom */
  section.labelled {
    clip-path: inset(0);
  }
  section.labelled > label {
    background: var(--bg-color);
    position: sticky;
    top: 0;
    z-index: 10;
  }
  section.labelled:not(.collapsed) > label.stuck {
    box-shadow: var(--label-shadow);
  }
  section.labelled > label.force-static {
    box-shadow: none;
    position: static;
  }
}
section.collapsible > label {
  cursor: pointer;
  position: relative;
}
section.collapsible > label > svg {
  position: absolute;
  right: 16px;
}
section.collapsed label > svg {
  transform: rotate(180deg);
}
body:not(.ios) section.collapsed > section {
  display: none;
}

/* Option */
section.group > section {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 40px;
  &:first-of-type {
    padding-top: 0;
  }
}
section.group > section > * + :is(p, label) {
  margin-top: 8px;
}
section.group > section > label {
  padding: 4px 12px 4px 0;
}

/* Sub option */
section.group > section > section {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 20px;
  &:first-of-type {
    margin-top: 8px;
  }
  &:last-of-type {
    padding-bottom: 0;
  }
}
section.group > section > section > * + * {
  margin-top: 8px;
}
section.group > section > section > label {
  padding: 4px 12px 4px 0;
}

details {
  margin-left: 12px;
}

summary {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.icon {
  height: 1.25em;
}
body.ios .icon {
  height: 1.75rem;
}

body.disabled section.group ~ section {
  visibility: hidden;
}
body.ios.disabled section.group ~ section .toggle {
  display: none;
}
body.disabled:not(.ios, .mac) section.group {
  border-bottom: 1px solid var(--border-color);
}

#version {
  text-align: center;
  font-size: 75%;
  margin-top: 12px;
  margin-bottom: 8px;
}
body.disabled #version {
  display: none;
}

/* #region Light mode overrides */
/* #region Firefox */
body.firefox {
  --border-color: rgb(215, 215, 219);
  --font-family: inherit;
  --font-size-primary: 15px;
  --font-size-secondary: 14px;
  --hover-bg-color: color-mix(in srgb, currentColor 14%, transparent);
  --text-color-secondary: rgb(91, 91, 102);
}
/* #endregion */

/* #region Edge */
body.edge {
  --border-color: rgb(182, 182, 182);
  --font-size-primary: 14px;
  --font-size-secondary: 12px;
  --hover-bg-color: rgba(0, 0, 0, 0.039);
  --text-color-secondary: rgb(118, 118, 118);
}
/* #endregion */

/* #region macOS Safari */
body.mac {
  --disclosure-triangle-color: rgb(154, 154, 154);
  --group-label-weight: 400;
  --text-color-secondary: rgb(123, 123, 123);
  form {
    padding: 4px 0;
  }
  label {
    justify-content: start;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    gap: 0;
  }
  p {
    margin-right: 12px;
  }
  input[type=checkbox] {
    margin-left: 0;
    margin-right: 6px;
  }
  /* Don't display dividing lines between option groups or options */
  section {
    border-top: none;
  }
  /* Option group */
  /* Space option groups */
  section.group:not(:first-of-type) {
    margin-top: 20px;
  }
  /* macOS uses disclosure triangles for collapsible options */
  section.labelled.collapsible > label > svg:not(:active) {
    color: var(--disclosure-triangle-color);
  }
  section.labelled.collapsible > label > svg {
    position: static;
    margin-right: 6px;
  }
  section.labelled.collapsible.collapsed > label > svg {
    transform: rotate(-90deg);
  }
  /* Add colons to option group labels */
  section.group > label:not(.checkbox)::after {
    content: ":";
  }

  /* Option */
  section.group > section {
    margin-left: 32px;
    padding: 0;
    margin-top: 8px;
  }
  section.group > section > label {
    padding: 0;
  }

  /* Sub option */
  /* Indent nested options to align with checkbox labels */
  section.group > section > section {
    padding: 0;
  }
  section.group > section > section > label  {
    padding: 0;
  }

  /* Inputs */
  /* Put checkboxes before their labels */
  section.checkbox > label,
  label.checkbox {
    flex-direction: row-reverse;
  }
  /* Add colons to dropdown labels */
  section.select label {
    display: block;
  }
  section.select span::after {
    content: ": ";
    display: inline-block
  }
  /* Align help text with checkbox labels */
  section.checkbox > p {
    margin-left: 20px;
  }
}
/* #endregion */

/* #region iOS Safari */
body.ios {
  --bg-color: rgb(242, 242, 247);
  --body-padding: 18px;
  --font-size-primary: inherit;
  --font-size-secondary: inherit;
  --group-label-weight: 400;
  --text-color-secondary: rgb(95, 99, 104);
  /* Toggles */
  --active-toggle-bg: rgb(52, 199, 89);
  --outside-label-color: rgb(133, 133, 139);
  --toggle-bg: rgb(233, 233, 235);

  label {
    /* Prevent flash when labels are tapped */
    -webkit-tap-highlight-color: transparent;
    padding-left: 0;
    padding-right: 18px;
    margin: 5px 0;
  }
  p {
    font-size: inherit !important;
    margin-right: 18px;
    margin-bottom: 8px;
  }
  summary {
    padding-left: 0;
  }

  /* Hide toggle indicator as sections aren't collapsible in iOS */
  section.labelled.collapsible > label > svg {
    display: none;
  }
  /* Option groups should contain their options in a rounded box */
  section.group {
    background-color: white;
    border-radius: 10px;
    padding-left: 18px;
    padding-bottom: 1px;
    padding-top: 1px;
    border-top: none !important;
  }
  section.group:not(:first-of-type) {
    margin-top: 34px;
  }
  /* All options should have a dividing line */
  section.group section {
    border-top: 1px solid var(--border-color);
    padding: 0;
  }
  /* Options should not be indented by default */
  section.group > section {
    margin-left: 0;
  }
  /* Nested groups should indent their options */
  section.group > section > section {
    margin-left: 18px;
  }
  /* Labelled option groups should display their label above the box */
  section.labelled {
    position: relative;
    margin-top: 46px;
  }
  section:first-child.labelled {
    margin-top: 12px;
  }
  section.labelled > label {
    position: absolute;
    top: -32px;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--outside-label-color);
  }
  section.labelled > label + section,
  section.labelled > label + section.desktop + section {
    border-top: none;
  }
  section.labelled > label + p {
    margin-top: 12px;
  }
}
/* #endregion */

/* #region Toggles */
body.ios .checkbox input[type="checkbox"] {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
body.ios .checkbox .toggle {
  position: relative;
  display: inline-block;
  min-width: 46px;
  height: 26px;
  background-color: var(--toggle-bg);
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
  margin-left: 8px;
}
body.ios .checkbox .toggle::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}
body.ios .checkbox .toggle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}
body.ios .checkbox label:active .toggle::after,
body.ios label.checkbox:active .toggle:after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}
body.ios .checkbox label:active input:checked + .toggle::after,
body.ios label.checkbox:active input:checked + .toggle::after {
  transform: translate3d(16px, 2px, 0);
}
body.ios input:checked + .toggle {
  background-color: var(--active-toggle-bg);
}
body.ios input:checked + .toggle::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
body.ios input:checked + .toggle::after {
  transform: translate3d(22px, 2px, 0);
}
body.ios .checkbox input:focus + .toggle {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
}
/* #endregion */
/* #endregion */

/* #region Dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgb(41, 42, 45);
    --border-color: rgb(63, 64, 66);
    --hover-bg-color: rgba(227, 227, 227, .08);
    --label-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }

  /* #region Edge */
  body.edge {
    --bg-color: rgb(59, 59, 59);
    --border-color: rgb(115, 115, 115);
    --hover-bg-color: rgba(255, 255, 255, 0.078);
    --text-color-primary: rgb(255, 255, 255);
    --text-color-secondary: rgb(167, 167, 167);
  }
  /* #endregion */

  /* #region Firefox  */
  body.firefox {
    --bg-color: rgb(35, 34, 43);
    --border-color: rgb(78, 77, 84);
    --text-color-primary: rgb(251, 251, 254);
    --text-color-secondary: rgb(191, 191, 201);
  }
  /* #endregion */

  /* #region macOS Safari */
  body.mac {
    --bg-color: transparent;
    --disclosure-triangle-color: rgb(154, 153, 154);
    --text-color-secondary: rgb(184, 184, 184);
  }
  /* #endregion */

  /* #region iOS Safari */
  body.ios {
    --bg-color: rgb(0, 0, 0);
    --border-color: rgb(35, 35, 37);
    --text-color-secondary: rgb(132, 132, 138);
    /* Toggles */
    --toggle-bg: rgb(57, 57, 61);
    --active-toggle-bg: rgb(48, 209, 88);
    --outside-label-color: rgb(141, 141, 147);
  }
  /* #endregion */
}
/* #endregion */